<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.simpleclub.firebase_rest_auth"
	xmlns:tools="http://schemas.android.com/tools">

	<application tools:node="merge">
		<service android:name="com.google.firebase.components.ComponentDiscoveryService">
			<meta-data
				android:name="com.google.firebase.components:com.simpleclub.firebase_rest_auth.framework.rest.RestAuthRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
	</application>
</manifest>
